
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Temporary */
    /* padding: 1rem; */

    block-size: 250px;
    max-inline-size: 400px;
}

.card--blue{
    color: var(--clr-ntr-min);
    background-color: var(--clr-base);
}

.card__header,
.card__footer{
    block-size: 25%;
}
.card__header, 
.card__body, 
.card__footer{
    padding: 1rem;
}

/* Header */
.card__header{
    display: flex;
    justify-content: space-between;
    /* background-color: darkgrey; */
}

.card__title-wrapper{
    inline-size: 80%;
    /* background-color: chocolate; */
}
.card__date-wrapper{
    inline-size: 20%;
    text-align: end;
    /* background-color: lightcoral; */
}
.card__title{
    font-size: var(--fs-title);
    font-weight: var(--fw-md-bold);
}

.card__descrip{
    font-size: var(--fs-descrip);
    font-weight: var(--fw-regular);
}

.card__creation-date{
    font-size: var(--fs-date);
    font-weight: var(--fw-md-bold);
}

/* Body */
.card__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
    /* background-color: darkcyan; */
}

.card__topics{
    display: flex;
    gap: 5px;
}

.card__language-wrapper{
    font-size: 12px;
    display: flex;
}
.card__language{
    text-transform: uppercase;
    font-size: 10px;
    padding: 0.5em 0.5em;

    background-color: darkorange;
}

.topics__item{
    font-size: 10px;
    text-transform: uppercase;
    padding: 0.5em 0.75em;
    background-color: darkslateblue;
}

/* Footer */
.card__footer{
    display: flex;
    justify-content: space-between;

    /* background-color: lightslategray; */
}

.card__stars{
    display: grid;
    place-items: flex-end normal;
    inline-size: 30%;
    
}

.card__buttons{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    inline-size: 50%;
    /* background-color: lightblue; */
}


/* Buttons */
.btn{
    cursor: pointer;
    border: none;
    
    padding: 0.5em 0.75em;
    font-size: var(--fs-button);

    background: transparent;
}

.btn-primary{
    color: var(--clr-ntr-min);
    /* background-color: var(--clr-base); */

    border-bottom: 2px solid darkslateblue;
}

.btn-primary:hover{
    border-bottom: 2px solid lightsteelblue;
}
