/* Main */
.main{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    margin: 0.5rem;
    inline-size: 100%;
    /* padding-top: 3rem; */
}
.main--dark{
    color: var(--clr-ntr-min);
    /* background-color: darkslategray; */
}

.search-section{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin: 2.5rem 0rem 2rem 0rem;
    /* border: solid 1px yellow; */
}

/* Form */
.form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    /* margin-top: 2rem; */
}
.form__input{
    font-size: var(--fs-lg);
    border: none;
    outline: none;
    background-color: transparent;
}
.form__input--dark{
    color: var(--clr-ntr-min);
    border-bottom: solid 2px var(--clr-primary);
}
.form__input--dark:focus ~ .input__underline{
    width: 100%;
    box-shadow: 0 3px 0.5em var(--clr-primary-dark), 
                0 2px 0.4em var(--clr-primary);
}
.form__input--dark:placeholder-shown{
    color: var(--clr-primary-light);
}
.input__underline{
    display: block;

    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;

    width: 0;
    height: 2px;
    background: var(--clr-primary-light);
    transition: all 200ms ease-out;
}
.input__search-icon{
    position: absolute;
    left: -22px;
    color: var(--clr-primary-light);
}

/* Repositories list */
.repos-list{
    list-style: none;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    max-inline-size: 100%;
    /* background-color: darkslateblue; */
}
.repos-list__item{
    margin: 0;
    /* max-inline-size: 400px; */
    /* border: 2px solid red; */
    /* max-block-size: 100%;
    max-inline-size: 100%; */
}

.message__icon{
    padding: 0px 2px 4px 0px;

    background-color: var(--clr-ntr-md);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
