.repos-list{
    list-style: none;

    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    max-inline-size: 100%;
}
.repos-list__item{
    margin: 0;
}