.user-list{
    list-style: none;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

    max-inline-size: 90%;
}

.user-list__item{
    display: flex;
    background-color: var(--clr-primary-dark);
}

.btn--user, 
.btn--close{
    color: var(--clr-min);
    font-weight: var(--fw-regular);
}

.btn--user{
    text-align: start;
    overflow: hidden;
    width: 100%;
}
.btn--close{
    display: grid;
    place-items: center;
    width: 20%;
}

.btn--user:hover, 
.btn--close:hover{
    background-color: var(--clr-primary);
}
