:root{
  /* Colors */
  /* --clr-bg: #000E14; */
  --clr-base: #1E2021;
  --clr-primary: #483d8b;

  --clr-ntr-max: #111;
  --clr-ntr-min: #eaebed;

  /* Font */
  --fw-regular: 400;
  --fw-md-bold: 500;

  --fs-sm: 10px;
  --fs-x-sm: 12px;
  --fs-md: 14px;
  --fs-x-md: 16px;
  --fs-lg: 26px;

}

body{
  background-color: var(--clr-ntr-max);
}

body, 
input, 
button {
  font-family: 'Inter', sans-serif;
}

.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}