:root{
  /* Colors */
  --clr-base: #1E2021;

  --clr-primary-light: #7B2CBF;
  --clr-primary: #5A189A;
  --clr-primary-dark: #3C096C;

  --clr-ntr-max: #111;
  --clr-ntr-min: #eaebed;

  /* linear-gradient(90deg, rgba(60,9,108,1) 0%, rgba(90,24,154,1) 62%, rgba(123,44,191,1) 100%) */

  /* Font */
  --fw-regular: 400;
  --fw-md-bold: 500;

  --fs-sm: 10px;
  --fs-x-sm: 12px;
  --fs-md: 14px;
  --fs-x-md: 16px;
  --fs-lg: 26px;

}

body{
  background-color: var(--clr-ntr-max);
}

body, 
input, 
button {
  font-family: 'Inter', sans-serif;
}

.wrapper{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-ntr-max);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: hsl(271, 85%, 18%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(271, 85%, 15%);
}