/* Main */
.main{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    margin: 0.5rem;
    inline-size: 100%;
}
.main--dark{
    color: var(--clr-ntr-min);
}

.search-section{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin: 2.5rem 0rem 0rem 0rem;
}

/* Form */
.form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form__input{
    border: none;
    outline: none;

    font-size: var(--fs-xlg);
    background-color: transparent;
}
.form__input--dark{
    color: var(--clr-ntr-min);
    border-bottom: solid 2px var(--clr-primary);
}
.form__input--dark:focus ~ .input__underline{
    width: 100%;
    box-shadow: 0 3px 0.5em var(--clr-primary-dark), 
                0 2px 0.4em var(--clr-primary);
}
.form__input--dark:placeholder-shown{
    color: var(--clr-primary-light);
}
.input__underline{
    display: block;

    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;

    width: 0;
    height: 2px;
    background: var(--clr-primary-light);
    transition: all 200ms ease-out;
}
.input__search-icon{
    position: absolute;
    left: -22px;
    color: var(--clr-primary-light);
}


